// font-family: "Josefin Sans", sans-serif;

// font-family: "Updock", cursive;

$color-1: #d0b8ac;
$color-2: #f3d8c7;
$color-3: #efe5dc;
$color-4: #fbfefb;
$color-5: #ffffff;
$black: #43432e;

$borderRadius: 10px;
$shadow: 0 1px 3px #333;
$min-height: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  margin: 1rem auto;
  max-width: 1200px;
  color: $black;
}
button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a.nav-active {
  color: $color-2;
}
a:visited {
  color: transparent;
}

.home,
.knowledges,
.portfolio,
.contact {
  display: flex;

  @media screen and (max: width 850px) {
    display: block !important;
  }
}

.homeContent,
.knowledgesContent,
.portfolioContent,
.contactContent {
  margin-left: 0.4rem;
  @media screen and (max: width 850px) {
    margin-left: 0 !important;
  }
}
